<div class="postControlPanel">
	<div class="headerPostControlPanel col-12">
		<h2><i class="fa fa-tags" aria-hidden="true"></i> Tag Control Panel</h2>
		<h4><i class="fa fa-plus" aria-hidden="true"></i> Add a new tag</h4>
	</div>
	<form #tagForm="ngForm" (ngSubmit)="onSubmit()">
		<div class="form-group">	
			<label for="tagName">Tag Name:</label>	
			<input type="text" id="tagName" name="tagName" [(ngModel)]="tag.tagName" class="form-control" required>
		</div>
		<div class="row buttons">
			<div class="col-md-6 col-12">	
				<input type="submit" value="Add tag" class="submitBut">
			</div>
			<div class="col-md-6 col-12">	
				<button type="button" class="button cancelBut" [routerLink]="['/postsadmin']">Cancel</button>
			</div>
		</div>
	</form>
	<div class="table-responsive">
		<table class="table table-hover">
			<thead class="thead-dark">
				<tr>
					<th scope="col">#</th>
					<th scope="col">Tag</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let tagTable of tags">
					<th scope="row">{{ tags.indexOf(tagTable)+1 }}</th>
					<td>{{ tagTable.tagName }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
	