<div class="headerUserinfoEdit col-12" *ngIf="userFound">
	<h2><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit your user information</h2>
</div>
<form #userinfoEditForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="userFound">
	<div class="row">
		<div class="col-12">
			<h4>Personal Information</h4>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-md-6 col-sm-12 col-12">	
			<label for="fullName">Full Name* :</label>	
			<input type="text" id="fullName" name="fullName" [(ngModel)]="user.fullName" class="form-control">
		</div>
		<div class="form-group col-md-6 col-12">	
			<label for="email">Email Address* :</label>	
			<input type="email" id="email" name="email" [(ngModel)]="user.email" class="form-control">
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<h4>Account Information</h4>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-md-6 col-12">	
			<label for="username">Username* :</label>	
			<input type="text" id="username" name="username" [(ngModel)]="user.username" class="form-control">
		</div>
		<div class="form-group col-md-6 col-12">	
			<label for="password">Password* :</label>	
			<input type="password" id="password" name="password" [(ngModel)]="user.password" class="form-control">
		</div>
	</div>
	<div class="row buttons">
		<div class="col-md-6 col-12">	
			<input type="submit" value="Save Changes" class="submitBut">
		</div>
		<div class="col-md-6 col-12">	
			<button type="button" class="button cancelBut" [routerLink]="['/']">Cancel</button>
		</div>
	</div>
</form>

<div class="headerUserinfoEdit col-12" *ngIf="!userFound">
	<h2><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> An Error Occurred</h2>
	<h3>User not found</h3>
</div>