.headerUserinfoEdit{
    text-align: center;
}

h4 {
    margin-top: 30px;
}

.modalBut{
    width: 100%;
}

.submitBut{
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.cancelBut{
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    background: #fff !important;
    color: #ed786a !important;
    border: #ed786a 2px solid;
}

.submitButModal{
    background: #ed786a !important;
    color: #fff !important;
}

.cancelButModal{
    background: #fff !important;
    color: #ed786a !important;
    border: #ed786a 2px solid;
}