<div class="headerPostControlPanel col-12">
	<h2>Post Control Panel</h2>
	<h4><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit post</h4>
</div>
<form #postEditForm="ngForm" (ngSubmit)="onSubmit()">
	<div class="form-group">
		<label for="title">Post title</label>
		<input type="text" class="form-control" id="title" name="title" [(ngModel)]="post.title" placeholder="Post title" required>
	</div>
	<div class="form-group">
		<label for="description">Description</label>
		<textarea class="form-control" id="description" name="description" [(ngModel)]="post.description" rows="2" required></textarea>
	</div>

	<div class="form-group">
		<label for="writeDate">Creation date</label>
		<input type="text" class="form-control" id="writeDate" name="writeDate" [(ngModel)]="post.writeDate" 
				placeholder="mmmm dd, yyyy" aria-describedby="dateHelpBlock" required>
		<small id="dateHelpBlock" class="form-text text-muted">
			The date should be given in the following format: mmmm dd, yyyy e.g. July 9, 2015
		</small>
	</div>
	<div class="row buttons">
		<div class="col-md-6 col-12">	
			<input type="submit" value="Add post" class="submitBut">
		</div>
		<div class="col-md-6 col-12">	
			<button type="button" class="button cancelBut" [routerLink]="['/postsadmin']">Cancel</button>
		</div>
	</div>
</form>