<div id="footer-wrapper">
	<div id="footer" class="container">
		<header class="footerHeader">
			<h2>Questions or comments? <strong>Get in touch:</strong></h2>
		</header>
		<div class="row">
			<div class="col-12">
				<section>
					<p class="footerText">This blog is about my exchange year to Denmark in the year 2014 - 2015. 
						The posts on this blog date back to that time and will nog be changed. 
						Please excuse any poor written text since this blog was a learning experience for my English writing.</p>
					<div class="row">
						<div class="col-lg-6 col-md-6 col-12 iconFirstCol">
							<ul class="icons">
								<li class="icon fa-home">
									Antwerpen, Belgium
								</li>
								<li class="icon fa-envelope">
									<a href="mailto:info@vannylen.eu">info@vannylen.eu</a>
								</li>
								<li class="icon fa-globe">
									<a href="http://www.nerdonthemove.eu">nerdonthemove.eu</a>
								</li>
							</ul>
						</div>
						<div class="col-lg-6 col-md-6 col-12">
							<ul class="icons">
								<li class="icon fa-twitter">
									<a href="https://twitter.com/EliseVNylen">@EliseVNylen</a>
								</li>
								<li class="icon fa-instagram">
									<a href="https://www.instagram.com/elise_vn_/">instagram.com/elise_vn_</a>
								</li>
								<li class="icon fa-facebook">
									<a href="https://www.facebook.com/elise.vannylen">facebook.com/elise.vannylen</a>
								</li>
							</ul>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
	<div id="copyright" class="container">
		<ul class="links">
			<li>&copy; 2018 Exchange Blog. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a> &amp; <a href="http://www.vannylen.eu">EliseVN</a> </li>
		</ul>
	</div>
</div>