<div id="posts">
	<div id="tag">
		<h2><i class="fa fa-tags" aria-hidden="true"></i> &#34;{{ tag.tagName }}&#34;-posts</h2>
	</div>
	<div class="card" *ngFor="let post of posts">
		<div class="card-body">
			<div class="text-right">Posted on {{ post.writeDate }} by {{ post.creator.username }}</div>
			<h3><a [routerLink]="['/post/' + post._id]">{{ post.title }}</a></h3>
			<p class="card-text" *ngIf="post.texts.length != 0">{{ post.texts[0].text }}</p>
			<div id="tags" *ngIf="post.tags.length != 0">
				<a [routerLink]="['/tag/' + tagPost._id]" *ngFor="let tagPost of post.tags" class="badge badge-tag">{{ tagPost.tagName }}</a>
			</div>
		</div>
	</div>
	<p *ngIf="posts.length == 0" id="error">This tag doesn't have any posts yet.</p>
</div>
	