.errorMessage{
    margin-top: 20px;
}

.card{
    border: 0;
}

#posts > .card {
    border-bottom: solid 2px #e5e5e5;
    box-shadow: inset 0px 8px 0px 0px #fff, inset 0px 10px 0px 0px #e5e5e5;
}

.card-body{
    margin-top: 10px;
}

#error{
    margin-top: 30px;
    text-align: center;
}

#tag{
    margin-bottom: 20px;
    text-align: center;
}

#tags a{
    margin-right: 10px;
    padding: 10px;
    background: #ed786a;
}

.card-text{
    margin-bottom: 20px;
    margin-top: 20px;
}