.headingPostView{
    margin-bottom: 30px;
}

.texts .text{
    margin-bottom: 20px;
}

.tags a{
    margin-right: 10px;
    padding: 10px;
    background: #ed786a;
    color:white;
}

.tags{
    padding-bottom: 20px;
}

.pictures{
    margin-top: 10px;
}

.card{
    margin-bottom: 20px;
    width: 100%;
}

.like a{
    width: 100%;
    background: #ed786a;
    color:white;
    padding:10px;
}

.submitBut{
    width: 100%;
    margin-bottom: 20px;
}

.deleteBut{
    margin-top: 10px;
}

/* LINES UNDER BLOCKS */

.texts{
    border-bottom: solid 2px #e5e5e5;
    margin-bottom: 20px;
}

.pictures{
    border-top: solid 2px #e5e5e5;
    padding-top: 20px;
}

.like{
    border-top: solid 2px #e5e5e5;
    padding-top: 20px;
    padding-bottom: 20px;
}

.comments{
    border-top: solid 2px #e5e5e5;
    padding-top: 20px;
}