<div class="col-12 col-sm-12 col-md-12 col-lg-10 offset-lg-1">
    <div class="headingPostView col-12">
        <h2 class="headerpost">{{ post.title }}</h2>
        <h5>Posted on {{ post.writeDate }} by {{ post.creator.username }}</h5>
    </div>

    <div class="texts col-12" *ngIf="post.texts.length != 0">
        <div *ngFor="let text of post.texts" class="text">{{ text.text }}</div>
    </div>

    <div class="tags col-12" *ngIf="post.tags.length != 0">
        <a [routerLink]="['/tag/' + tag._id]" *ngFor="let tag of post.tags" class="badge">{{ tag.tagName }}</a>
    </div>

    <div class="pictures col-12" *ngIf="post.pictures.length != 0">
        <div class="col-lg-4 col-md-6 col-sm-12 col-12" *ngFor="let image of post.pictures">
            <div class="card">
                <img class="card-img-top" [src]="image.getImageSource()" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">{{ image.description }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="like col-12 col-sm-12 col-md-12 col-lg-12" *ngIf="loggedIn">
        <a *ngIf="!likePost" href="javascript:void(0)" (click)="onLike()" class="col-12 rounded"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Like</a>
        <a *ngIf="likePost" href="javascript:void(0)" (click)="onUnlike()" class="col-12 rounded"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> Don't like anymore</a>
    </div>

    <div class="comments col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="alert alert-dark col-12" *ngIf="!loggedIn">
                To like or comment on this post, please login or register.
            </div>
        <form #commentForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="loggedIn">
            <div class="form-group">
                <label for="comment">Comment:</label>
                <input type="text" class="form-control" id="comment" name="message" [(ngModel)]="comment.message" required>
            </div>
            <button type="submit" class="button submitBut">Save comment</button>
        </form>
        <div class="card col-12">
            <ul class="list-group list-group-flush" *ngIf="comments.length != 0">
                <li class="list-group-item" *ngFor="let commnt of comments">
                    <h5>{{ commnt.user.username }}</h5>
                    <p>{{ commnt.message }}</p>
                    <a *ngIf="commnt.user._id == currentUser._id" href="javascript:void(0)" (click)="onEdit(commnt)" class="deleteBut"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> edit comment</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a *ngIf="commnt.user._id == currentUser._id" href="javascript:void(0)" (click)="onDelete(commnt)" class="deleteBut"><i class="fa fa-trash-o" aria-hidden="true"></i> delete comment</a>
                </li>
            </ul>
            <div class="card-body" *ngIf="comments.length == 0">
                <p class="card-text">This post doesn't have any comments yet.</p>
            </div>
        </div>
    </div>
</div>