<div class="headerUserControlPanel col-12">
	<h2>User Control Panel</h2>
	<h4><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit user</h4>
</div>
<form #userAddForm="ngForm" (ngSubmit)="onSubmit()">
	<div class="row">
		<div class="col-12">
			<h4>Personal Information</h4>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-md-6 col-sm-12 col-12">	
			<label for="fullName">Full Name* :</label>	
			<input type="text" id="fullName" name="fullName" [(ngModel)]="user.fullName" class="form-control">
		</div>
		<div class="form-group col-md-6 col-12">	
			<label for="email">Email Address* :</label>	
			<input type="email" id="email" name="email" [(ngModel)]="user.email" class="form-control">
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<h4>Account Information</h4>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-md-6 col-12">	
			<label for="username">Username* :</label>	
			<input type="text" id="username" name="username" [(ngModel)]="user.username" class="form-control">
		</div>
		<div class="form-group col-md-6 col-12">	
			<label for="password">Password* :</label>	
			<input type="password" id="password" name="password" [(ngModel)]="user.password" class="form-control">
		</div>
	</div>
	<div class="form-group">	
		<label for="userType">User Type* :</label>	
		<select class="form-control form-control-lg" id="userType" name="userType" [(ngModel)]="usertypeId">
			<option *ngFor="let type of usertypes" [value]="type._id">{{ type.typeName }}</option>
		</select>
	</div>
	<div class="row buttons">
		<div class="col-md-6 col-12">	
			<input type="submit" value="Save Changes" class="submitBut">
		</div>
		<div class="col-md-6 col-12">	
			<button type="button" class="button cancelBut" [routerLink]="['/users']">Cancel</button>
		</div>
	</div>
</form>