<div class="postControlPanel">
	<div class="headerPostControlPanel col-12">
		<h2><i class="fa fa-tags" aria-hidden="true"></i> Tag Control Panel</h2>
		<h4>{{ post.title }}</h4>
	</div>
	<form #tagForm="ngForm" (ngSubmit)="onSubmit()">
		<label for="tag">Tag:</label>
		<div class="form-row">
			<div class="col-8">
				<select class="form-control form-control-lg" id="tag" name="tag" [(ngModel)]="tagId">
					<option *ngFor="let tagDrop of allTags" [value]="tagDrop._id">{{ tagDrop.tagName }}</option>
				</select>
			</div>
			<div class="col-4">
			<button type="submit" class="button submitButton">Add</button></div>
		</div>
	</form>
	<div class="table-responsive">
		<table class="table table-hover">
			<thead class="thead-dark">
				<tr>
					<th scope="col">#</th>
					<th scope="col">Tag</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let postTag of post.tags">
					<th scope="row">{{ post.tags.indexOf(postTag)+1 }}</th>
					<td>{{ postTag.tagName }}</td>
					<td class="tableAlignRight">
						<a href="javascript:void(0)" (click)="onDelete(postTag)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>&nbsp;
					</td>
				</tr>
				<tr *ngIf="isEmpty">
					<th scope="row">1</th>
					<td>No tags added yet.</td>
					<td class="tableAlignRight">&nbsp;</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="row buttons">
		<div class="col-md-6 col-12">	
			<button type="button" class="button submitBut" [routerLink]="['/tagsadmin']">Add New tag</button>
		</div>
		<div class="col-md-6 col-12">	
			<button type="button" class="button cancelBut" [routerLink]="['/postsadmin']">Go back to posts</button>
		</div>
	</div>
	<button type="button" class="button submitBut" (click)="onDeleteAll()">
		Delete all tags
	</button>
</div>
