.headerPostControlPanel{
    text-align: center;
}

h4 {
    margin-top: 30px;
}

.addButton{
    margin-top: 15px;
    margin-bottom: 20px;
}

.submitBut{
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.submitButton{
    width: 100%;
}

.cancelBut{
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    background: #fff !important;
    color: #ed786a !important;
    border: #ed786a 1px solid;
}

form{
    margin-bottom: 10px;
}

table{
    margin-top: 10px;
    border: black 1px solid;
}

.tableAlignRight{
    text-align: right;
}

.thead-dark, tbody tr th{
    font-weight: bold;
}