<div class="loginContainer col-12">
	<div class="col-md-6 col-sm-12 col-12 loginForm">
		<h3>Login</h3>
		<p>Welcome, please enter the following to continue.</p>
		<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
			<div class="form-group">	
				<label for="email">Email Address:</label>	
				<input type="email" id="email" class="form-control" formControlName="email">
			</div>
			<div class="form-group">
				<label for="password">Passwoord:</label>
				<input type="password" id="password" class="form-control" formControlName="password">	
			</div>			
			<input type="submit" value="Login" class="col-sm-12 col-12 submitknop">
		</form>
		<div class="alert alert-danger col-sm-12 col-12" *ngIf="!signinSuccess">
			<strong>Oops!</strong> Something went wrong! Try again with other credentials.
		</div>
	</div>
	<div class="col-md-6 col-sm-12 col-12">
		<h3>New Registration</h3>
		<p>By creating an account on this blog, you will be able to comment on blog posts and like the ones that you enjoyed reading.</p>
		<a [routerLink]="['/register']" class="button col-sm-6 col-xs-12">Create An Account</a>
	</div>
</div>