@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Arvo:700");

/*
	Strongly Typed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/* Reset */

	ol, ul {
		list-style: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

/* Containers */

	.container {
		margin-left: auto;
		margin-right: auto;
	}

	.container.\31 25\25 {
		width: 100%;
		max-width: 1200px;
		min-width: 960px;
	}

	.container.\37 5\25 {
		width: 720px;
	}

	.container.\35 0\25 {
		width: 480px;
	}

	.container.\32 5\25 {
		width: 240px;
	}

	.container {
		width: 960px;
	}

	@media screen and (min-width: 768px) {

		.container.\31 25\25 {
			width: 100%;
			max-width: 1500px;
			min-width: 1200px;
		}

		.container.\37 5\25 {
			width: 900px;
		}

		.container.\35 0\25 {
			width: 600px;
		}

		.container.\32 5\25 {
			width: 300px;
		}

		.container {
			width: 1200px;
		}

	}

	@media screen and (min-width: 768px) and (max-width: 1200px) {

		.container.\31 25\25 {
			width: 100%;
			max-width: 1200px;
			min-width: 960px;
		}

		.container.\37 5\25 {
			width: 720px;
		}

		.container.\35 0\25 {
			width: 480px;
		}

		.container.\32 5\25 {
			width: 240px;
		}

		.container {
			width: 960px;
		}

	}

	@media screen and (max-width: 768px) {

		.container.\31 25\25 {
			width: 100%;
			max-width: 125%;
			min-width: 100%;
		}

		.container.\37 5\25 {
			width: 75%;
		}

		.container.\35 0\25 {
			width: 50%;
		}

		.container.\32 5\25 {
			width: 25%;
		}

		.container {
			width: 100% !important;
		}

	}

/* Basic */

	body {
		background: #f0f0f0;
		font-family: 'Source Sans Pro';
		font-weight: 300;
		color: #777;
	}

		body.is-loading * {
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
		}

	input, textarea, select {
		font-family: 'Source Sans Pro';
		font-weight: 300;
		color: #777;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: 600;
		text-transform: uppercase;
		color: #888;
	}

	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, td a, li a {
		color: inherit;
		text-decoration: none;
		border: 0;
	}

	a {
		-moz-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
		-webkit-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
		-ms-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
		transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
		color: #666;
		text-decoration: none;
		border-bottom: solid 1px #ddd;
	}

		a strong {
			-moz-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
			-webkit-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
			-ms-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
			transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
		}

		a:hover {
			color: #ed786a;
			border-bottom-color: rgba(255, 255, 255, 0);
			text-decoration: none;
		}

			a:hover strong {
				color: #ed786a;
			}

	strong, b {
		font-weight: 600;
		color: #666;
	}

	em, i {
		font-style: italic;
	}

	sub {
		position: relative;
		top: 0.5em;
		font-size: 0.8em;
	}

	sup {
		position: relative;
		top: -0.5em;
		font-size: 0.8em;
	}

	hr {
		border: 0;
		border-top: solid 1px #ddd;
	}

	blockquote {
		border-left: solid 0.5em #ddd;
		padding: 1em 0 1em 2em;
		font-style: italic;
	}

	p {
		text-align: justify;
		margin-bottom: 2em;
	}

	ul, ol, dl, table, blockquote {
		margin-bottom: 2em;
	}

	br.clear {
		clear: both;
	}

/* Sections/Article */

	section, article {
		margin-bottom: 3em;
	}

	section > :last-child,
	article > :last-child,
	section:last-child,
	article:last-child {
		margin-bottom: 0;
	}

/* Image */

	.image {
		-moz-transition: opacity 0.25s ease-in-out;
		-webkit-transition: opacity 0.25s ease-in-out;
		-ms-transition: opacity 0.25s ease-in-out;
		transition: opacity 0.25s ease-in-out;
		display: inline-block;
		border: solid 6px #ebebeb !important;
	}

		.image:hover {
			opacity: 0.9;
		}

		.image img {
			display: block;
			width: 100%;
		}

		.image.fit {
			display: block;
			width: 100%;
		}

		.image.featured {
			display: block;
			width: 100%;
			margin: 0 0 3.5em 0;
		}

		.image.left {
			float: left;
			margin: 0 1.5em 1.5em 0;
			position: relative;
			top: 0.5em;
		}

		.image.centered {
			display: block;
			margin: 0 0 2em 0;
		}

			.image.centered img {
				margin: 0 auto;
				width: auto;
			}

/* List */

	ul.default {
		list-style: disc;
		margin-left: 1em;
	}

		ul.default li {
			padding-left: 0.5em;
			margin: 0.75em 0 0.75em 0;
		}

			ul.default li:first-child {
				margin-top: 0;
			}

	ul.links {
		list-style: decimal;
		margin-left: 1em;
	}

		ul.links li {
			display: inline;
			border-left: solid 1px #d0d0d0;
			padding-left: 1em;
			margin-left: 1em;
		}

			ul.links li:first-child {
				margin-left: 0;
				padding-left: 0;
			}

	ul.actions {
		margin-top: 2.5em;
		clear: both;
	}

	ul.divided li {
		border-top: solid 2px #e5e5e5;
	}

		ul.divided li:first-child {
			border-top: 0;
			margin-top: 0;
			padding-top: 0;
		}

	ul.icons > li {
		position: relative;
		padding: 2em 0 0 3em;
	}

		ul.icons > li:before {
			position: absolute;
			left: 0;
			top: 2em;
			display: block;
			background: #878787;
			color: #e4e4e4;
			width: 1.65em;
			height: 1.65em;
			border-radius: 1.65em;
			line-height: 1.65em;
			text-align: center;
			box-shadow: 0.125em 0.175em 0 0 rgba(0, 0, 0, 0.125);
		}

		ul.icons > li:first-child {
			padding-top: 0;
		}

			ul.icons > li:first-child:before {
				top: 0;
			}

	ol.default {
		list-style: decimal;
		margin-left: 1em;
	}

		ol.default li {
			padding-left: 0.5em;
			margin: 0.75em 0 0.75em 0;
		}

			ol.default li:first-child {
				margin-top: 0;
			}

/* Form */

	form label {
		font-weight: 600;
		text-transform: uppercase;
		color: #888;
		display: block;
		margin: 0 0 1em 0;
	}

	form input[type="text"],
	form input[type="email"],
	form input[type="password"],
	form select,
	form textarea {
		-moz-transition: background-color 0.25s ease-in-out;
		-webkit-transition: background-color 0.25s ease-in-out;
		-ms-transition: background-color 0.25s ease-in-out;
		transition: background-color 0.25s ease-in-out;
		-webkit-appearance: none;
		display: block;
		border: 10;
		width: 100%;
		border-radius: 4px;
		line-height: 1.25em;
		padding: 0.75em 1em 0.75em 1em;
	}

		form input[type="text"]:focus,
		form input[type="email"]:focus,
		form input[type="password"]:focus,
		form select:focus,
		form textarea:focus {
			background: #f0f0f0;
		}

	form textarea {
		min-height: 10em;
	}

	form .formerize-placeholder {
		color: #555 !important;
	}

	form ::-webkit-input-placeholder {
		color: #555 !important;
		line-height: 1.35em;
	}

	form :-moz-placeholder {
		color: #555 !important;
	}

	form ::-moz-placeholder {
		color: #555 !important;
	}

	form :-ms-input-placeholder {
		color: #555 !important;
	}

/* Button */

	input[type="button"],
	input[type="submit"],
	input[type="reset"],
	button,
	.button {
		-moz-transition: all 0.25s ease-in-out;
		-webkit-transition: all 0.25s ease-in-out;
		-ms-transition: all 0.25s ease-in-out;
		transition: all 0.25s ease-in-out;
		-webkit-appearance: none;
		position: relative;
		display: inline-block;
		background: #ed786a;
		color: #fff !important;
		text-transform: uppercase;
		border-radius: 4px;
		border: 0;
		outline: 0;
		font-size: 1em;
		box-shadow: 0.125em 0.175em 0 0 rgba(0, 0, 0, 0.125);
		font-weight: 600;
		text-align: center;
	}

		input[type="button"].icon:before,
		input[type="submit"].icon:before,
		input[type="reset"].icon:before,
		button.icon:before,
		.button.icon:before {
			position: relative;
			padding-right: 0.75em;
			opacity: 0.5;
			top: 0.05em;
		}

		input[type="button"]:hover,
		input[type="submit"]:hover,
		input[type="reset"]:hover,
		button:hover,
		.button:hover {
			background: #fd887a;
		}

		input[type="button"]:active,
		input[type="submit"]:active,
		input[type="reset"]:active,
		button:active,
		.button:active {
			background: #ed786a;
		}

		input[type="button"].alt,
		input[type="submit"].alt,
		input[type="reset"].alt,
		button.alt,
		.button.alt {
			background: #878787;
		}

			input[type="button"].alt:hover,
			input[type="submit"].alt:hover,
			input[type="reset"].alt:hover,
			button.alt:hover,
			.button.alt:hover {
				background: #979797;
			}

			input[type="button"].alt:active,
			input[type="submit"].alt:active,
			input[type="reset"].alt:active,
			button.alt:active,
			.button.alt:active {
				background: #878787;
			}

/* Icons */

	.icon {
		position: relative;
		text-decoration: none;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon > .label {
			display: none;
		}

/* Wrappers */

	#header-wrapper {
		position: relative;
		background: #fff;
		text-align: center;
	}

		#header-wrapper p {
			text-align: center;
		}

	#main-wrapper {
		position: relative;
		overflow: hidden;
		background: #fff;
	}

	#footer-wrapper {
		position: relative;
		overflow: hidden;
		border-top: solid 2px #e5e5e5;
		background: #f0f0f0;
	}

		#footer-wrapper form input[type="text"],
		#footer-wrapper form input[type="email"],
		#footer-wrapper form input[type="password"],
		#footer-wrapper form select,
		#footer-wrapper form textarea {
			background: #f7f7f7;
		}

			#footer-wrapper form input[type="text"]:focus,
			#footer-wrapper form input[type="email"]:focus,
			#footer-wrapper form input[type="password"]:focus,
			#footer-wrapper form select:focus,
			#footer-wrapper form textarea:focus {
				background: #fff;
			}

		#footer-wrapper h2 {
			text-align: center;
		}

/* Header */

	#header {
		position: relative;
		border-bottom: solid 2px #e5e5e5;
		box-shadow: inset 0px -8px 0px 0px #fff, inset 0px -10px 0px 0px #e5e5e5;
	}

		#header h1 {
			font-family: 'Arvo';
			font-weight: 700;
			color: #ed786a;
			text-shadow: 0.05em 0.075em 0 rgba(0, 0, 0, 0.1);
		}

			#header h1 a {
				border: 0;
			}

		#header p {
			text-transform: uppercase;
			font-weight: 400;
			color: #888;
		}

/* Nav */

	#nav {
		cursor: default;
	}

		#nav > ul > li > a {
			border: 0;
			text-decoration: none;
			text-transform: uppercase;
			font-weight: 400;
			color: #777;
			outline: 0;
		}

			#nav > ul > li > a:before {
				display: inline-block;
				background: #878787;
				color: #e4e4e4;
				width: 1.65em;
				height: 1.65em;
				border-radius: 1.65em;
				line-height: 1.65em;
				text-align: center;
				box-shadow: 0.125em 0.175em 0 0 rgba(0, 0, 0, 0.125);
				margin-right: 0.75em;
				-moz-transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
				-webkit-transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
				-o-transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
				-ms-transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
				transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
			}

			#nav > ul > li > a > span {
				-moz-transition: color 0.25s ease-in-out;
				-webkit-transition: color 0.25s ease-in-out;
				-o-transition: color 0.25s ease-in-out;
				-ms-transition: color 0.25s ease-in-out;
				transition: color 0.25s ease-in-out;
			}

		#nav > ul > li.active > a:before, #nav > ul > li:hover > a:before {
			background: #ED786A;
			color: #fff;
		}

		#nav > ul > li.active > a > span, #nav > ul > li:hover > a > span {
			color: #ED786A;
		}

/* Content */

	#content > section,
	#content > article {
		border-top: solid 2px #e5e5e5;
		box-shadow: inset 0px 8px 0px 0px #fff, inset 0px 10px 0px 0px #e5e5e5;
	}

		#content > section:first-child,
		#content > article:first-child {
			border-top: 0;
			box-shadow: none;
		}

/* Copyright */

	#copyright {
		border-top: solid 2px #e5e5e5;
		text-align: center;
	}

/* Desktop */

	@media screen and (min-width: 768px) {

		/* Basic */

			body, input, textarea, select {
				line-height: 1.65em;
				font-size: 13pt;
			}

			h2 {
				font-size: 1.65em;
				font-weight: 400;
				letter-spacing: 4px;
				margin: 0 0 1.5em 0;
				line-height: 1.75em;
			}

			h3 {
				font-size: 1em;
				letter-spacing: 2px;
				margin: 0 0 1.25em 0;
			}

		/* Button */

			input[type="button"],
			input[type="submit"],
			input[type="reset"],
			button,
			.button {
				font-size: 0.85em;
				letter-spacing: 2px;
				padding: 0.85em 2.75em 0.85em 2.75em;
			}

		/* List */

			ul.actions li {
				display: inline-block;
				margin-left: 1em;
			}

				ul.actions li:first-child {
					margin-left: 0;
				}

			ul.divided li {
				margin: 2.5em 0 0 0;
				padding: 2.5em 0 0 0;
			}

		/* Wrappers */

			#main-wrapper {
				padding: 6em 0 6em 0;
			}

			#footer-wrapper {
				padding: 6em 0 8em 0;
			}

		/* Header */

			#header {
				padding: 14em 0 7em 0;
			}

				#header h1 {
					font-size: 3em;
					letter-spacing: 13px;
				}

				#header p {
					margin: 2.5em 0 0 0;
					font-size: 0.85em;
					letter-spacing: 3px;
				}

		/* Nav */

			#nav {
				position: absolute;
				top: 3em;
				left: 0;
				width: 100%;
			}

				#nav > ul > li {
					display: inline-block;
					padding-right: 2em;
				}

					#nav > ul > li:last-child {
						padding-right: 0;
					}

					#nav > ul > li > a {
						display: block;
					}

						#nav > ul > li > a > span {
							font-size: 0.85em;
							letter-spacing: 3px;
						}

					#nav > ul > li > ul {
						display: none;
					}

			.dropotron {
				text-align: left;
				border: solid 1px #e5e5e5;
				border-radius: 4px;
				background: #fff;
				background: rgba(255, 255, 255, 0.965);
				box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
				padding: 0.75em 0 0.5em 0;
				min-width: 12em;
				margin-top: calc(-0.5em + 1px);
				margin-left: -2px;
			}

				.dropotron.level-0 {
					margin-top: 1.5em;
					margin-left: -1em;
				}

					.dropotron.level-0:after {
						content: '';
						display: block;
						position: absolute;
						left: 1.25em;
						top: calc(-0.75em + 1px);
						border-left: solid 0.75em rgba(255, 255, 255, 0);
						border-right: solid 0.75em rgba(255, 255, 255, 0);
						border-bottom: solid 0.75em #fff;
					}

					.dropotron.level-0:before {
						content: '';
						display: block;
						position: absolute;
						left: 1.25em;
						top: -0.75em;
						border-left: solid 0.75em rgba(255, 255, 255, 0);
						border-right: solid 0.75em rgba(255, 255, 255, 0);
						border-bottom: solid 0.75em #ccc;
					}

				.dropotron span, .dropotron a {
					display: block;
					padding: 0.3em 1em 0.3em 1em;
					border: 0;
					border-top: solid 1px #f0f0f0;
					outline: 0;
				}

				.dropotron li:first-child > span, .dropotron li:first-child > a {
					border-top: 0;
					padding-top: 0;
				}

				.dropotron li:hover > span, .dropotron li:hover > a {
					-moz-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
					-webkit-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
					-ms-transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
					transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
					color: #ed786a;
				}

		/* Content */

			#content > > section,
			#content > > article {
				margin: 5em 0 0 0;
				padding: 5em 0 0 0;
			}

				#content > > section:first-child,
				#content > > article:first-child {
					margin: 0;
					padding: 0;
				}

		/* Copyright */

			#copyright {
				margin-top: 6em;
				padding-top: 4em;
			}

	}

/* Tablet */

	@media screen and (min-width: 768px) and (max-width: 1200px) {

		/* Basic */

			body {
				min-width: 960px;
				line-height: 1.75em;
				font-size: 12pt;
			}

			input, textarea, select {
				line-height: 1.75em;
				font-size: 12pt;
			}

			h2 {
				margin: 0 0 1em 0;
				font-size: 1.5em;
			}

			h3 {
				margin: 0 0 1em 0;
			}

			h2 br, h3 br, h4 br, h5 br, h6 br {
				display: none;
			}

		/* Image */

			.image.featured {
				margin: 0 0 2.5em 0;
			}

		/* Wrappers */

			#main-wrapper {
				padding: 4em 0 4em 0;
			}

			#footer-wrapper {
				padding: 4em 0 6em 0;
			}

		/* Header */

			#header {
				padding: 9em 0 4em 0;
			}

				#header h1 {
					font-size: 2em;
				}

				#header p {
					margin: 1.5em 0 0 0;
				}

		/* Nav */

			#nav > ul > li {
				padding-right: 1.25em;
			}

		/* Copyright */

			#copyright {
				margin-top: 5em;
				padding-top: 2em;
			}

	}

/* Mobile */

	#navPanel, #titleBar {
		display: none;
	}

	@media screen and (max-width: 768px) {

		/* Basic */

			html, body {
				overflow-x: hidden;
			}

			body, input, textarea, select {
				line-height: 1.75em;
				font-size: 11pt;
				letter-spacing: 0;
			}

			h2, h3, h4, h5, h6 {
				font-size: 1.2em;
				letter-spacing: 2px;
				text-align: center;
				margin: 0 0 1.5em 0;
			}

				h2 br, h3 br, h4 br, h5 br, h6 br {
					display: none;
				}

		/* Sections/Article */

			section, article {
				clear: both;
				margin: 2em 0 2em 0 !important;
			}

				section > :first-child, section:first-child, article > :first-child, article:first-child {
					margin-top: 0 !important;
				}

		/* Image */

			.image.left {
				width: 40%;
			}

			.image.featured {
				margin: 0 0 2em 0;
			}

		/* Button */

			input[type="button"],
			input[type="submit"],
			input[type="reset"],
			button,
			.button {
				letter-spacing: 2px;
				display: block;
				padding: 1em 0 1em 0;
			}

		/* List */

			ul.links li {
				display: block;
				border: 0;
				padding: 0.25em 0 0 0;
				margin: 0;
			}

			ul.divided li {
				margin: 2.75em 0 0 0;
				padding: 2.75em 0 0 0;
			}

			ul.icons {
				padding: 0 !important;
				margin: 0 0 0.5em 0 !important;
			}

		/* Off-Canvas Navigation */

			#page-wrapper {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				padding-bottom: 1px;
			}

			#titleBar {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				display: block;
				height: 44px;
				left: 0;
				position: fixed;
				top: 0;
				width: 100%;
				z-index: 10001;
			}

				#titleBar .toggle {
					position: absolute;
					left: 0;
					top: 0;
					width: 80px;
					height: 60px;
					border: 0;
				}

					#titleBar .toggle:before {
						display: inline-block;
						font-family: FontAwesome;
						text-decoration: none;
						font-style: normal;
						font-weight: normal;
						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;
						content: '\f0c9';
						display: block;
						width: 60px;
						height: 40px;
						background: rgba(232, 232, 232, 0.9);
						border-radius: 4px;
						position: absolute;
						left: 5px;
						top: 5px;
						box-shadow: 0.125em 0.125em 0 0 rgba(0, 0, 0, 0.15);
						text-align: center;
						line-height: 40px;
						font-size: 18px;
						color: #aaa;
					}

					#titleBar .toggle:active:before {
						opacity: 0.5;
					}

			#navPanel {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transform: translateX(-275px);
				-webkit-transform: translateX(-275px);
				-ms-transform: translateX(-275px);
				transform: translateX(-275px);
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				display: block;
				height: 100%;
				left: 0;
				overflow-y: auto;
				position: fixed;
				top: 0;
				width: 275px;
				z-index: 10002;
				background: #444;
				border-right: solid 2px #3c3c3c;
				font-weight: 400;
				text-transform: uppercase;
				color: #888;
				letter-spacing: 2px;
				font-size: 0.85em;
			}

				#navPanel .link {
					display: block;
					color: #ddd;
					text-decoration: none;
					height: 44px;
					line-height: 44px;
					border: 0;
					border-top: solid 1px #3c3c3c;
					padding: 0 1em 0 1em;
				}

					#navPanel .link:first-child {
						border-top: 0;
					}

					#navPanel .link.depth-0 {
						font-weight: 600;
						color: #fff;
					}

				#navPanel .indent-1 {
					display: inline-block;
					width: 1em;
				}

				#navPanel .indent-2 {
					display: inline-block;
					width: 2em;
				}

				#navPanel .indent-3 {
					display: inline-block;
					width: 3em;
				}

				#navPanel .indent-4 {
					display: inline-block;
					width: 4em;
				}

				#navPanel .indent-5 {
					display: inline-block;
					width: 5em;
				}

				#navPanel .depth-0 {
					color: #fff;
				}

			body.navPanel-visible #page-wrapper {
				-moz-transform: translateX(275px);
				-webkit-transform: translateX(275px);
				-ms-transform: translateX(275px);
				transform: translateX(275px);
			}

			body.navPanel-visible #titleBar {
				-moz-transform: translateX(275px);
				-webkit-transform: translateX(275px);
				-ms-transform: translateX(275px);
				transform: translateX(275px);
			}

			body.navPanel-visible #navPanel {
				-moz-transform: translateX(0);
				-webkit-transform: translateX(0);
				-ms-transform: translateX(0);
				transform: translateX(0);
			}

		/* Wrappers */

			#banner-wrapper {
				padding: 2em 0 2em 0;
			}

			#main-wrapper {
				padding: 3em 20px 3em 20px;
			}

			#footer-wrapper {
				padding: 4em 20px 3em 20px;
			}

		/* Header */

			#header {
				padding: 6em 0 4em 0;
			}

				#header h1 {
					font-size: 2em;
					letter-spacing: 8px;
					line-height: 1.25em;
				}

				#header p {
					margin: 1.25em 0 0 0;
					letter-spacing: 2px;
				}

		/* Nav */

			#nav {
				display: none;
			}

		/* Content */

			#content > section, #content > article {
				margin: 4em 0 0 0 !important;
				padding: 4em 0 0 0 !important;
			}

				#content > section:first-child, #content > article:first-child {
					margin: 0 !important;
					padding: 0 !important;
				}

		/* Footer */

			#footer .icons {
				margin: 0 0 2em 0 !important;
			}

				#footer .icons:last-child {
					margin-bottom: 0;
				}

		/* Copyright */

			#copyright {
				margin-top: 2em;
				padding-top: 2em;
			}

	}