<div class="headerCommentControlPanel col-12">
	<h2><i class="fa fa-comments" aria-hidden="true"></i> Comments Control Panel</h2>
</div>
<div class="card" *ngFor="let post of fullPosts">
	<div class="card-header">
		<h5>Post : {{ post.title }}</h5>
	</div>
	<ul class="list-group list-group-flush" *ngIf="post.comments.length != 0">
		<li class="list-group-item" *ngFor="let comment of post.comments">
			<h5>{{ comment.user.username }}</h5>
			<p>{{ comment.message }}</p>
			<a href="javascript:void(0)" (click)="onDelete(comment)" class="deleteBut"><i class="fa fa-trash-o" aria-hidden="true"></i> delete comment</a>
		</li>
	</ul>
	<div class="card-body" *ngIf="post.comments.length == 0">
		<p class="card-text">This post doesn't have any comments yet.</p>
	</div>
</div>