<div id="header-wrapper">
	<div id="header" class="container">

		<!-- Logo -->
		<h1 id="logo"><a [routerLink]="['/']">My Danish Year</a></h1>
		<p>A blog about my adventures during my exchange in Denmark (2014 - 2015).</p>

		<!-- Nav -->
		<app-navbar></app-navbar>

	</div>
</div>
