#header {
    padding: 6em 0 4em 0;
}

    #header h1 {
        font-size: 2em;
        letter-spacing: 8px;
        line-height: 1.25em;
    }

    #header p {
        margin: 1.25em 0 0 0;
        letter-spacing: 2px;
    }

#header-wrapper {
    position: relative;
    background: #fff;
    text-align: center;
}

    #header-wrapper p {
        text-align: center;
    }