<div id="posts">
	<div id="tags" class="topTags">
		<a [routerLink]="['/tag/' + tag._id]" *ngFor="let tag of tags" class="badge badge-tag tag-top">{{ tag.tagName }}</a>
	</div>
	<div class="card" *ngFor="let post of posts">
		<div class="card-body">
			<div class="text-right">Posted on {{ post.writeDate }} by {{ post.creator.username }}</div>
			<h3><a [routerLink]="['/post/' + post._id]">{{ post.title }}</a></h3>
			<p class="card-text" *ngIf="post.texts.length != 0">{{ post.texts[0].text }}</p>
			<div id="tags" *ngIf="post.tags.length != 0">
				<a [routerLink]="['/tag/' + tagPost._id]" *ngFor="let tagPost of post.tags" class="badge badge-tag">{{ tagPost.tagName }}</a>
			</div>
		</div>
	</div>
</div>
