<div class="postControlPanel">
	<div class="headerPostControlPanel col-12">
		<h2><i class="fa fa-align-justify" aria-hidden="true"></i> Text Control Panel</h2>
		<h4>{{ post.title }}</h4>
	</div>
	<form #textForm="ngForm" (ngSubmit)="onSubmit()">
		<div class="form-group">
			<label for="text">Text Block</label>
			<textarea class="form-control" id="text" name="text" [(ngModel)]="posttext.text" rows="4" required aria-describedby="textHelpBlock"></textarea>
			<small id="textHelpBlock" class="form-text text-muted">
				Use html-tags for titles &#40;&lt;h2&gt;, &lt;h3&gt;&#41; and extra spaces &#40;&lt;p&gt;&#41;.
			</small>
		</div>
		<div class="row buttons">
			<div class="col-md-6 col-12">	
				<input type="submit" value="Add/save text" class="submitBut">
			</div>
			<div class="col-md-6 col-12">	
				<button type="button" class="button cancelBut" [routerLink]="['/postsadmin']">Go back to posts</button>
			</div>
		</div>
	</form>
	<div class="card" *ngFor="let text of texts">
		<div class="card-header">
			<h5>Text Block {{ texts.indexOf(text)+1 }}</h5>
		</div>
		<div class="card-body">{{ text.text }}</div>
		<div class="card-body">
			<a href="javascript:void(0)" (click)="onEdit(text)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="javascript:void(0)" (click)="onDelete(text)"><i class="fa fa-trash-o" aria-hidden="true"></i> delete</a>
		</div>
	</div>
</div>
