.headerPostControlPanel{
    text-align: center;
}

h4 {
    margin-top: 30px;
}

.submitBut{
    width: 100%;
    margin-bottom: 10px;
    margin-top: 20px;
}

.cancelBut{
    width: 100%;
    margin-bottom: 10px;
    margin-top: 20px;
    background: #fff !important;
    color: #ed786a !important;
    border: #ed786a 1px solid;
}

form {
    margin-bottom: 10px;
}