table {
    width: 100%;
}

.headerUserControlPanel{
    text-align: center;
}

.tableAlignRight{
    text-align: right;
}

.thead-dark, tbody tr th{
    font-weight: bold;
}

.tableButton{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-top: 20px;
}