<div class="userControlPanel">
	<div class="headerUserControlPanel">
		<h2>User Control Panel</h2>
		<button [routerLink]="['/addUser']" class="button col-12 tableButton">
			<i class="fa fa-plus" aria-hidden="true"></i> Add User
		</button>
	</div>
	<div class="table-responsive">
		<table class="table table-hover">
			<thead class="thead-dark">
				<tr>
					<th scope="col">#</th>
					<th scope="col">Email</th>
					<th scope="col">Username</th>
					<th scope="col">Full Name</th>
					<th scope="col">User Type</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let user of users">
					<th scope="row">{{ users.indexOf(user)+1 }}</th>
					<td>{{ user.email }}</td>
					<td>{{ user.username }}</td>
					<td>{{ user.fullName }}</td>
					<td>{{ user.userType.typeName }}</td>
					<td class="tableAlignRight">
						<a [routerLink]="['/editUser/', user._id]"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;
						<a href="javascript:void(0)" (click)="onDelete(user._id)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>&nbsp;
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
