<div class="postControlPanel">
	<div class="headerPostControlPanel col-12">
		<h2><i class="fa fa-picture-o" aria-hidden="true"></i> Picture Control Panel</h2>
		<h4>{{ post.title }}</h4>
	</div>

	<form #pictureForm="ngForm" (ngSubmit)="onSubmit()">
		<div class="form-group">
			<label for="picture">Picture File: </label>
			<input type="file" class="form-control-file" id="picture" (change)="fileChange($event)">
		</div>
		<div class="form-group">
			<label for="description">Picture Description: </label>
			<input type="text" class="form-control" id="description" name="description" [(ngModel)]="picture.description" placeholder="Description" required>
		</div>
		<div class="row buttons">
			<div class="col-md-6 col-12">	
				<input type="submit" value="save" class="submitBut">
			</div>
			<div class="col-md-6 col-12">	
				<button type="button" class="button submitBut" (click)="onDeleteAll()">Delete all</button>
			</div>
		</div>
		<div class="row">
			<div class="col-12">	
				<button type="button" class="button cancelBut" [routerLink]="['/postsadmin']">Go back to posts</button>
			</div>
		</div>
	</form>

	<div class="pictureContainer">
		<div class="col-lg-4 col-md-6 col-sm-12 col-12" *ngFor="let image of pictures">
			<div class="card">
				<img class="card-img-top" [src]="image.getImageSource()" alt="Card image cap">
				<div class="card-body">
					<p class="card-text">{{ image.description }}</p>
					<a href="javascript:void(0)" (click)="onDelete(image._id)"><i class="fa fa-trash-o" aria-hidden="true"></i> delete</a>
				</div>
			</div>
		</div>
	</div>
</div>
