<div class="sign-up-form">
	<div class="col-md-12 titleRegister">
		<h3>Register Here</h3>
		<p>By creating an account on this blog, you will be able to comment on blog posts and 
				like the ones that you enjoyed reading.</p>
	</div>
	<form #userForm="ngForm" (ngSubmit)="onSubmit()">
		<div class="col-sm-6 col-xs-12">
			<h4>Personal Information</h4>
			<div class="form-group">	
				<label for="fullName">Full Name* :</label>	
				<input type="text" id="fullName" name ="fullName" [(ngModel)]="user.fullName" class="form-control textBox">
			</div>
			<div class="form-group">	
				<label for="email">Email Address* :</label>	
				<input type="email" id="email" name="email" [(ngModel)]="user.email" class="form-control">
			</div>
		</div>
		<div class="col-sm-6 col-xs-12">
			<h4>Login Information</h4>
			<div class="form-group">	
				<label for="username">Username* :</label>	
				<input type="text" id="username" name="username" [(ngModel)]="user.username" class="form-control textBox">
			</div>
			<div class="form-group">	
				<label for="password">Password* :</label>	
				<input type="password" id="password" name="password" [(ngModel)]="user.password" class="form-control">
			</div>
		</div>
		<div class="col-md-12 submitbutton">
			<input type="submit" value="Register" class="form-control col-sm-6 col-xs-12">
		</div>
		
	</form>
</div>