<div class="postControlPanel">
	<div class="headerPostControlPanel col-12">
		<h2>Post Control Panel</h2>
		<button [routerLink]="['/addPost']" class="button col-12 addButton">
			<i class="fa fa-plus" aria-hidden="true"></i> Add Post
		</button>
	</div>

	<div class="col-lg-4 col-md-6 col-sm-12 col-12" *ngFor="let post of posts">
		<div class="card">
			<div class="card-header">{{ post.title }}</div>
			<div class="card-body">
				<p class="card-text">{{ post.description }}</p>
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">{{ post.writeDate }}</li>
				<li class="list-group-item">{{ post.creator.username }}</li>
				<li class="list-group-item">
					<button [routerLink]="['/addText/', post._id]" class="postButton">
						<i class="fa fa-align-justify" aria-hidden="true"></i> &nbsp;Add text
					</button>
				</li>
				<li class="list-group-item">
					<button [routerLink]="['/addPictures/', post._id]" class="postButton">
						<i class="fa fa-picture-o" aria-hidden="true"></i> &nbsp;Add pictures
					</button>
				</li>
				<li class="list-group-item">
					<button [routerLink]="['/addTags/', post._id]" class="postButton">
						<i class="fa fa-tags" aria-hidden="true"></i> &nbsp;Add tags
					</button>
				</li>
				<li class="list-group-item">
					<a [routerLink]="['/editPost/', post._id]"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<a href="javascript:void(0)" (click)="onDelete(post._id)"><i class="fa fa-trash-o" aria-hidden="true"></i> delete</a>
				</li>
			</ul>
		</div>
	</div>
	
</div>