.card-header{
    text-transform: uppercase;
    background: #ed786a !important;
    color: #fff !important;
    text-align: center;
}

.addButton{
    margin-top: 15px;
    margin-bottom: 20px;
}

.headerPostControlPanel{
    text-align: center;
}

.card{
    margin-bottom: 20px;
    width: 100%;
}

.postButton{
    width: 100%;
    background: #fff !important;
    color: #ed786a !important;
    border: #ed786a 1px solid;
}