<div id="page-wrapper">

	<!-- Header -->
	<app-header></app-header>

	<!-- Main -->
	<div id="main-wrapper">
		<div id="main" class="container">
			<div class="content">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<app-footer></app-footer>
</div>