<nav id="nav">
	<ul>
		<li><a class="icon fa-home" [routerLink]="['/']"><span>Home</span></a></li>
		<li *ngIf="isAdmin"><a class="icon fa-list" [routerLink]="['/panel']"><span>Admin-page</span></a></li>
		<li *ngIf="isLoggedin && !isAdmin"><a class="icon fa-cogs" [routerLink]="['/editUserinfo']"><span>User settings</span></a></li>
		<li *ngIf="!isLoggedin"><a class="icon fa-sign-in" [routerLink]="['/login']"><span>Login/register</span></a></li>
		<li *ngIf="isLoggedin"><a class="icon fa-sign-out" [routerLink]="['/logout']"><span>Log off</span></a></li>
	</ul>
</nav> 