.alignCenter{
    text-align: center;
}

.button{
    width: 100%;
    border-radius: 0;
    border-top: black 1px solid;
    border-left: black 1px solid;
    border-right: black 1px solid;
}

.buttonLast{
    border-bottom: black 1px solid;
}