<h2 class="alignCenter">Admin Panel</h2>
<h4 class="alignCenter">of {{ user.fullName }}</h4>
<div class="col-12">
	<button type="button" class="button" [routerLink]="['/users']">User Control Panel</button>
</div>
<div class="col-12">
	<button type="button" class="button" [routerLink]="['/postsadmin']">Post Control Panel</button>
</div>
<div class="col-12">
	<button type="button" class="button buttonLast" [routerLink]="['/comments']">Comment Control Panel</button>
</div>